p id="notice"><%= notice %></p>

<p>
  <b>Nome do desenho:</b>
  <%= @desenhozinho.NomeDesenho %>
</p>


<%= link_to 'Edit', edit_desenhozinho_path(@desenhozinho) %> |
<%= link_to 'Back', desenhozinhos_path %>
